* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

._clear {
	clear: both;
}

#side-bar {
	border-right: 1px solid grey;
	background-color: #d9f7f7;
	height: 100%;
	width: 250px;
	float: left;
}

.filter-path {
	background-color: #abf9ff;
	height: 40px;
	text-align: center;
	padding: 10px 30px;
}

.filter {
	width: 100%;
}

.place {
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
}

.place:hover {
	background-color: #abf9ff;
	cursor: pointer;
	font-weight: bold;
}

#map {
	height: 100%;
}

.coord {
	font-size: 10px;
}

.restaurants {
	padding-top: 10px;
	color: blue;
}

@media screen and (max-width: 680px) {
	.place {
		font-size: 14px;
	}

	.contenitor {
		height: 100%;
		width: 250px;
		left: -250px;
		position: absolute;
		z-index: 11;
		top: 0;
		transition-duration: 1s;
		transition-property: transform;
	}

	.contenitor:before {
		content: "O";
		line-height: 30px;
		text-align: center;
		z-index: 11;
		position: absolute;
		right: -30px;
		top: 100;
		width: 30px;
		height: 30px;
		background-color: #d9f7f7;
		border-radius: 0 6px 6px 0;
	}

	.contenitor:focus {
		transform: translateX(100%);
	}

	.contenitor:focus:before {
		display: none;
	}

	#side-bar {
		position: relative;
		z-index: 10;
		left: 0;
		top: 0;
		transition-duration: 0s, 4s;
		transition-property: opacity, transform;
	}

	#side-bar:before {
		content: "X";
		line-height: 30px;
		text-align: center;
		z-index: 10;
		position: absolute;
		right: -30px;
		top: 100;
		width: 30px;
		height: 30px;
		background-color: #d9f7f7;
		border-radius: 0 6px 6px 0;
	}

	#side-bar:focus {
		transform: opacity(0),translateX(-100%);
	}

	#side-bar:focus:before {
		display: none;
	}

	#map {
		width: 100%;
	}
}